<div class="feed-page">
    <div class="header-card">
        <div class="header-card-left">
            <img src="../../assets/youtube.jpg" alt="youtube icon">
        </div>
        <div class="header-card-right">
            <div class="header-card-upper">
                <input type="text" placeholder="Write your thought here">
            </div>
            <hr class="hr">
            <div class="header-card-lower">
                <span>Icon</span>
                <span>Icon</span>
                <span>Icon</span>
                <span>Icon</span>
            </div>
        </div>

    </div>

    <div class="feed-card">
        <div class="user-details">
            <div class="user-details-header">
                <div class="profile">
                    <img src="../../assets/profile.png" alt="small image">
                    <label for="">Vikas rai</label>
                </div>
                <button (click)="onCreatePostClick()" class="info"><i class="uil uil-ellipsis-v"></i></button>
            </div>
            <span class="description">Here are some text</span>
        </div>

        <div class="post">
            <img src="../../assets/youtube.jpg" alt="There is a youtube image.">
        </div>

        <div class="post-details">
            <button><i class="uil uil-heart-alt"></i></button>
            <button><i class="uil uil-comment"></i></button>
            <button><i class="uil uil-share"></i></button>
        </div>
    </div>
</div>

