<app-header></app-header>
<div class="dashboard">
    <!-- ########################### Left Component #######################-->
    <div class="left-component">
        <app-left-nav></app-left-nav>
    </div>

    <!-- ############################ Mid Component ########################-->
    <div class="main-component">
        <app-feed></app-feed>
    </div>

    <!-- ########################## Right Component ########################-->

    <div class="right-component">
        <app-right-section></app-right-section>
    </div>
</div>